name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install flake8 bandit pytest pytest-cov

    - name: Run flake8 (PEP8 check)
      run: flake8 .

    - name: Run bandit (security scan)
      run: bandit -r .

    - name: Run tests with coverage
      run: pytest --cov=etl --cov=api --cov=models --cov-report=term-missing --cov-fail-under=80

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.prashanthiakka }}
        password: ${{ secrets.Prashanthi1234# }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/claims-pipeline:latest
